body {
    font-family: Geneva, Arial, sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
    box-sizing: border-box; 
}

header {
    position: sticky;
    top: 0; 
    z-index: 1000;
}

nav {
    background: #00A388;
    height: 80px; 
    width: 100%; 
}

nav ul {
    float: right; 
    margin-right: 20px; 
}

nav ul li {
    display: inline-block;
    line-height: 80px; 
    margin: 0 5px; 
}

nav ul li a {
    color: #FFFF9D; 
    font-size: 18px; 
    padding: 7px 13px; 
    border-radius: 3px; 
    text-transform: capitalize; 
}

section.banner {
    background: linear-gradient(to left,#FFFF9D , #79BD8F);
    padding: 3rem 0;
    text-align: center;
}

.containerB {
    width: 100%; 
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.col1, .col2 {
    flex: 1;
    padding: 1rem;
}

.col1 img {
    width: 100%;
    max-width: 400px; 
}

h1 {
    color: #FF6138;
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

#txtBanner {
    font-size: 1.3rem; 
    line-height: 1.5rem; 
    color: #00A388;
    text-align: justify;
}

.btnBanner {
    background: #FF6138;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block; 
    margin-top: 1rem; 
}

.services {
    padding: 3rem 0;
    text-align: center;
}

.subServices {
    padding-bottom: 3rem;
    color: #0074E4;
}

.containerS {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.boxS {
    padding: 2rem;
    margin: 1rem; 
    flex: 1 0 300px; 
    box-shadow: 0px 0px 55px 5px rgba(0, 0, 255, 0.2);
    border-radius: 10px;
}

.boxS img {
    max-width: 100%; 
    margin-bottom: 1rem; 
}

h3 {
    color: #00576F; 
    font-size: 1.5rem;
    margin-bottom: 1rem; 
}

.boxS p {
    font-size: 1rem; 
}

.subServices h2 {
    color: #00A388; 
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

section.equipo {
    background: linear-gradient(to right, #79BD8F, #BEEB9F);
    padding: 3rem 0; 
    text-align: center;
}

.containerE {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.boxE {
    padding: 2rem;
    margin: 1rem; 
    flex: 1 0 300px;
    box-shadow: 0px 0px 5px 5px rgba(0, 255, 0, 0.2);
    border-radius: 10px;
}

.imgEquipo {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem; 
    color: #FF6138;
    margin-top: 1rem; 
}

#txtEquipo {
    margin: 2rem 0; 
    font-size: 1.3rem; 
    line-height: 1.5rem; 
    text-align: justify; 
}

.Tarifas {
    padding: 3rem 0; 
    text-align: center; 
}

.subTarifas h2 {
    color: #00576F; 
    font-size: 2rem;
    margin-bottom: 1.5rem; 
}

.subTarifas p {
    color: #FFFFFF;
    font-size: 1rem; 
    margin-bottom: 3rem; 
}

.containerT {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxT {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem; 
    flex: 1 0 300px; 
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.1);
}

.boxT h3 {
    color: #00576F; 
    font-size: 1.5rem; 
    margin-bottom: 1rem; 
}

.boxT h3:last-child {
    color: #00576F;
    font-size: 2rem;
    margin-top: 1rem; 
}

.boxT ul {
    list-style-type: none; 
    text-align: left; 
    padding-left: 0; 
}

.boxT ul li {
    margin-bottom: 0.5rem;  
}

.contact {
    padding: 3rem 0; 
    text-align: center; 
}

.contact-container {
    background-color: #00A388;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
    margin: 0 auto; 
    margin-top: 50px;
}

.contact-title {
    color: #FFFF9D;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #BEEB9F;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #00576F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #003A4E;
}

#mensaje-exito {
    color: #008000;
    margin-top: 10px;
}

.nav-buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.nav-buttons li {
    display: inline-block;
    margin-left: 10px;
}

.nav-buttons li a {
    display: inline-block;
    padding: 5px 20px; 
    line-height: 2; 
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.nav-buttons li a:hover {
    background-color: #555;
}

.menu-toggle {
    position: absolute; 
    
}

.menu {
    opacity: 0;
}

.menu li:hover {
    color: #FF6138;
}

@media (max-width: 900px) {
    .containerE.row {
        display: flex;
        flex-direction: column;
    }

    .boxB.col2 {
        width: 100%; 
    }
}

@media (max-width: 900px) {
    .menu {
        position: absolute;
        left: 0;
        top: calc(100%);
        transform: translateY(-10px);
        opacity: 0;
        background-color: #FFFF9D ;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        padding: 10px 0;
        width: 150px;
        transition: transform 0.3s ease, opacity 0.3s ease 0.1s;
    }

    .menu.active {
        transform: translateY(0);
        opacity: 1;
    }

    .menu li {
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid #BEEB9F ;
    }

    .menu li:last-child {
        border-bottom: none;
    }

    .menu li a {
        color: #00A388 ;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    .menu li a:hover {
        color: #FF6138;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 20px;
        color: #FFF;
        cursor: pointer;
        padding: 10px;
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .menu-toggle:focus {
        outline: none;
    }
}